
.miniSurveyVie1w{ margin-bottom:1px}
.miniSurveyVie1w #msg{ background:#FFFF99; color: #000; padding:2px; border:1px solid #999; margin:1px 0px 1px 0px}
.miniSurveyVie1w table.formBlockSurveyTable td{ padding-bottom:1px; width: 95% }
.miniSurveyView td.question {padding-right: 2px}
.miniSurveyView #msg .error{padding-left:12px; color:#cc0000}
.miniSurveyView table.formBlockSurveyTable td img.ccm-captcha-image{float:none}
.miniSurveyView .required{ color:#cc0000 }